# Environment variables
.env

# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE / editor files
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store

# Logs
*.log

#test file
test*.py